<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    <link rel="stylesheet" href="adminpagestyle.css" type="text/css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Admin Page</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="create">
            <a href="#" class="modal-trigger" data-target="modal-create"
              >Create</a>
          </li>
          <li><a href="/signout">Logout</a></li>
        </ul>
      </div>
    </nav>

   <div class="tabhead" > <ul id="tabs-swipe-demo" class="tabs" style=" color:azure; background: rgba( 74, 144, 226, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );">

      <li class="tab col s3"><a class="active" href="#test-swipe-1" style=" color:white;">USERS  |  JOBS</a></li>
      <li class="tab col s3"><a  href="#test-swipe-2" style=" color:white;">Jobs</a></li>
      <li class="tab col s3"><a  href="#test-swipe-3" style=" color:white;">REQUESTS</a></li>
      
    </ul></div>

   
    <div class="tab1" id="test-swipe-1">


      <div class="userlist">
       <div class="heading"> <h5  >USERS</h5></div>
       <div class="data">
        <ul class="collapsible" data-collapsible='onOpenStart'>
          <% data2.forEach((user) => { %>
            <%const userdata =user.data(); %>
            <li><div class="collapsible-header ">
             <div class="col1" style="color:white; float:left;" ><%=userdata.username%></div>   
             <div class="col2" style="float:right; position:absolute; right:5px;"><a class="waves-effect waves-light btn">remove</a>  </div>
              </div>
              <div class="collapsible-body  ">
                <!-- <span> details</span> -->
                <div class="information">
                  <div class="question">
                    Email ID :

                </div>
                <div class="answer ">
                  <%=userdata.email%>
                </div>
              </div>


              <div class="information">
                <div class="question">
                  Phone NO. :

              </div>
              <div class="answer ">
                <%=userdata.phone%>
              </div>
            </div>


            <div class="information">
              <div class="question">
                User Type :

            </div>
            <div class="answer ">
              <%=['User','Internal user'][userdata.userType]%>
             <div class="change type "style="float:right;"> <a href="#changeusertype" class="modal-trigger" > <i class="material-icons small">edit</i></a></div>
            </div>
          </div>


              </div>
              
              </li>
              
              <!-- model for type change -->
              <div id="changeusertype" class="modal bottom-sheet " 
              style="width:670px;
              
             background: rgba( 255, 255, 255, 0.30 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7.5px );
            -webkit-backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );">
             <div class="modal-content" style ="text-align: center;">
               <h4>SELECT USER TYPE</h4>
               <div class="formcontainer" style="height:50px;width:100%;">
               <form action="/changeusertype" method="POST">
                 <div style="float:left;">
                   <label>
                     <input name="usertypeselect" type="radio" value="user" />
                     <span style="color:rgb(31, 207, 119);">NORMAL USER</span>
                   </label>
                 </div>
                 <div  style="float:left;">
                   <label>
                     <input name="usertypeselect" type="radio" value="internal" />
                     <span style="color:rgb(31, 207, 119);">INTERNAL USER</span>
                   </label>
                 </div>
                 <div style="float:left;">
                   <label>
                     <input name="usertypeselect" type="radio" value="admin"/>
                     <span style="color:rgb(31, 207, 119);">ADMINISTRATOR</span>
                   </label>
                 </div>
                 <input name="email" type="hidden" value=<%=userdata.email%>/>
                 <!-- submit  button -->
                 <div class="inputBox"  style="float:left;">
                  <input type="submit" value="submit">
               </div>
              
               </form>
             </div>
         
             </div>
             <div class="modal-footer" style="background: rgba( 255, 255, 255, 0.00 );
             box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
             backdrop-filter: blur( 0.0px );
             -webkit-backdrop-filter: blur( 0.0px );
              ">
               <a href="#!" class="modal-close waves-effect waves-green btn-flat"  style ="color:white">ok</a>
             </div>
           </div>
           <!-- end of type change model -->


              <% }) %> 
              </ul>


       </div>
      </div>


      <div class="joblist">
        <div class="heading" > <h5 >JOBS</h5></div>
        <div class="data">

          <ul class="collapsible" data-collapsible='onOpenStart'>
            <% data.forEach(doc => { %>

              <%const blog =doc.data(); %>
        
            <li><div class="collapsible-header ">
              
             <div class="col1" style="color:white;" ><%=blog.projecttitle%></div>


             <div class="jobtype"> <% var type=""; %> 
              <% type=(blog.jobcomplete==0)?"[Running]":"[Complete]"; %> 
              <%= type %> 

             </div>



             <div class="confirm" style="float:right; position:absolute; right:5px;"><a class="waves-effect waves-light btn ">confirm</a>  </div>
             
              </div>
              <div class="collapsible-body  ">
                <div class="information">
                  <div class="question">
                    Username :
                </div>
                <div class="answer ">
                  <%=blog.name%>
                </div>
              </div>


                <div class="jobdescription" style="min-height: 100px;width:100%;">
                <span><%=blog.projectdescription%></span>
              </div>
              <div class="projectlink" style="text-align: center;color:white;"> <a href="#"  style="color:white;"><%=blog.url%></a></div>
              
              </div>
              <% }) %> 
              </li>
              </ul>


        </div>
      </div>



    </div>



    <!-- tab2 -->

    <div class="tab2" id="test-swipe-2">
      
      <div class="runningjobs">
        <div class="heading" > <h5 >Running Jobs</h5></div>
      <div class="data">

        <ul class="collapsible" data-collapsible='onOpenStart'>
          <% data.forEach(doc => { %>

            <%const blog =doc.data(); %>
            <% if(blog.jobcomplete==0){ %> 
            
          <li><div class="collapsible-header ">
            
           <div class="col1" style="color:white;" ><%=blog.projecttitle%></div>


           <div class="jobtype"> <% var type=""; %> 
            <% type=(blog.jobcomplete==0)?"[Running]":"[Complete]"; %> 
            <%= type %> 

           </div>



           <div class="confirm" style="float:right; position:absolute; right:5px;"><a class="waves-effect waves-light btn ">confirm</a>  </div>
           
            </div>
            <div class="collapsible-body  ">
              <div class="information">
                <div class="question">
                  Username :
              </div>
              <div class="answer ">
                <%=blog.name%>
              </div>
            </div>


              <div class="jobdescription" style="min-height: 100px;width:100%;">
              <span><%=blog.projectdescription%></span>
            </div>
            <div class="projectlink" style="text-align: center;color:white;"> <a href="#"  style="color:white;"><%=blog.url%></a></div>
            
            </div>

        
            </li>
            <% } %> 
            <% }) %> 

 

            </ul>

      </div></div>

      <div class="completedjobs"> <div class="heading" > <h5 >Completed Jobs</h5></div>
      <div class="data">


        <ul class="collapsible" data-collapsible='onOpenStart'>
          <% data.forEach(doc => { %>

            <%const blog =doc.data(); %>
            <% if(blog.jobcomplete==1){ %> 
      
          <li><div class="collapsible-header ">
            
           <div class="col1" style="color:white;" ><%=blog.projecttitle%></div>


           <div class="jobtype"> <% var type=""; %> 
            <% type=(blog.jobcomplete==0)?"[Running]":"[Complete]"; %> 
            <%= type %> 

           </div>



           <div class="confirm" style="float:right; position:absolute; right:5px;"><a class="waves-effect waves-light btn ">confirm</a>  </div>
           
            </div>
            <div class="collapsible-body  ">
              <div class="information">
                <div class="question">
                  Username :
              </div>
              <div class="answer ">
                <%=blog.name%>
              </div>
            </div>


              <div class="jobdescription" style="min-height: 100px;width:100%;">
              <span><%=blog.projectdescription%></span>
            </div>
            <div class="projectlink" style="text-align: center;color:white;"> <a href="#"  style="color:white;"><%=blog.url%></a></div>
            
            </div>
           
            </li>
            <% } %> 
            <% }) %> 
            </ul>

      </div></div>
    </div>



    <div class="tab3" id="test-swipe-3">
      <div class="heading" > <h5 >JOB EDIT REQUEST</h5></div>
      <div class="data">

        <ul class="collapsible" data-collapsible='onOpenStart'>
         
        
          <li><div class="collapsible-header  "style="width:100%">
            
           <div class="col1" style="color:white;" > Username1</div> 
           <div class="accept" style="float:right; position:absolute; right:100px "><a class="waves-effect waves-light btn ">accept</a>  </div>
           <div class="reject" style="float:right; position:absolute; right:10px "><a class="waves-effect waves-light btn ">reject</a>  </div>
           
            </div>
            <div class="collapsible-body  ">
              <div class="jobname"><h6 style= "font-weight: bold;">jobname</h6></div>
              <div class="jobexplain" style="min-height:70px; width:100%;"
              ><span> details</span></div>
            
            </div>
            
            </li>
            </ul>
      </div>
      

    </div>





    <div id="modal-create" class="modal">
      <div class="modal-content">
        <h4>Create Content</h4>
        <br />
        <form id="create-form">
          <div class="input-field">
            <input type="text" id="title" required />
            <label for="title"> Title</label>
          </div>
          <div class="input-field">
            <textarea
              id="content"
              class="materialize-textarea"
              required
            ></textarea>
            <label for="content">Content</label>
          </div>
          <button class="btn red darken-2 z-depth-0">Enter</button>
        </form>
      </div>
    </div>


    <!-- pop up  type selection -->
<!-- 
    <div id="changeusertype" class="modal bottom-sheet " 
     style="width:670px;margin-left: 100px;
    background: rgba( 255, 255, 255, 0.30 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 7.5px );
   -webkit-backdrop-filter: blur( 7.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );">
    <div class="modal-content" style ="text-align: center;">
      <h4>SELECT USER TYPE</h4>
      <div class="formcontainer" style="height:50px;width:100%;">
      <form action="#">
        <div style="float:left;">
          <label>
            <input name="usertypeselect" type="radio" />
            <span style="color:rgb(31, 207, 119);">NORMAL USER</span>
          </label>
        </div>
        <div  style="float:left;">
          <label>
            <input name="usertypeselect" type="radio" />
            <span style="color:rgb(31, 207, 119);">INTERNAL USER</span>
          </label>
        </div>
        <div style="float:left;">
          <label>
            <input name="usertypeselect" type="radio" />
            <span style="color:rgb(31, 207, 119);">ADMINISTRATOR</span>
          </label>
        </div>
       
      </form>
    </div>

    </div>
    <div class="modal-footer" style="background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
     ">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"  style ="color:white">ok</a>
    </div>
  </div> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>   

<script>
//    var instance = M.Tabs.init(el, options);

// // Or with jQuery

$(document).ready(function(){
  $('.tabs').tabs();
});
</script>
   
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var modals = document.querySelectorAll(".modal");
        M.Modal.init(modals);
        var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems);

      });
    </script>

    <script type="text/javascript" src="vanilla-tilt.js"></script>
    <script type="text/javascript">
      VanillaTilt.init(document.querySelectorAll(".job"), {
        max: 25,
        speed: 100,
      });

    </script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>