<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="userviewstyle.css" type="text/css">
</head>
<body >
    <nav style="background-color:rgba(66, 66, 145, 0.589); margin-bottom: 10px;">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">User Page</a>
          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            
            <!-- <li><a href="#">Logout</a></li> -->
             <li class="create">
        <a href="#" class=" modal-trigger" data-target="modal-create">Create</a>
      </li>
      <li class="logout"><a href="/signout"class="logout waves-button-input">Logout</a></li>
          </ul>
        </div>
      </nav>


      <div class="username">
        <div class="first"></div><div class="second">
          <% const data1=val3.data();%>
          <ul><li><h5>NAME :   </h5><h6><%=data1.username%></h6></li>
           <li><h5>EMAIL ID :   </h5><h6><%=data1.email%></h6></li>
           <li><h5>PHONE NO.  :</h5><h6><%=data1.phoneno%></h6></li>
         </ul>
        </div>
      </div>


      <div class="heading"> <h4>JOBS</h4> </div>



    
        <ul>
          <% val2.forEach(doc=>{ %>
            <% const blog=doc.data(); %>
            <li>
          <div class="job"  data-tilt data-tilt-axis="y">
          <div class="jobname">
              <div class="jobname1">
           <h6 ><%=blog.title%></h6> 
              </div>
              <div  class="edit" > <a class="btn-floating btn-large cyan pulse modal-trigger" href="#modal2"><i class="material-icons">edit</i></a></div>

              <div class="otp"><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Enter OTP</a></div>
              
  
          </div>
          <div class="jobdetails"><div>
            <span style="font-weight: bold;"><%=blog.content%></span></div>
              <div style="text-align: center; bottom:0px;">
                <a href="#"><h6 style="color:cornsilk;">project link</h6></a>
             
              </div>
          </div>
          
  
        </div>
        </li>
        <%})%> 
      </ul>
  
     

<!-- model for new job -->
     
    <div id="modal-create" class="modal" style="background: rgba( 52, 27, 76, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );">
      <div class="modal-content">
        <h4 style="color: aliceblue;">Add New Project</h4><br />
        <form id="create-form" action="/addjob" method="POST">
          <div class="input-field">
            <input type="text" id="name" name="name" required>
            <label for="name"> Name</label>
          </div>
          <div class="input-field">
            <input type="text" id="guidename" name="guidename" required>
            <label for="guidename"> Guide Name</label>
          </div>
          <div class="input-field">
            <input type="text" id="guidedepartment" name="guidedepartment" required>
            <label for="guidedepartment">Guide Department</label>
          </div>
          <div class="input-field col s12">
            <select id="degree" name="degree">
              <option value="" disabled selected>Choose your option</option>
              <option value="B.tech">B.tech</option>
              <option value="M.tech">M.tech</option>
               
            </select>
            <label for="degree" >Materialize Select</label>
          </div>
<div>
  <p>Branch</p>
          <p>
            <label>
              <input name="branch" value="ECE" type="radio" checked />
              <span>ECE</span>
            </label>
          </p>
          <p>
            <label>
              <input name="branch" value="EEE" type="radio" />
              <span>EEE</span>
            </label>
          </p>
          <p>
            <label>
              <input  name="branch"  value ="Other" type="radio"  />
              <span>Other</span>
            </label>
          </p>
        </div>

          <div class="input-field">
            <input type="text" id="projecttitle" name="projecttitle" required>
            <label for="projecttitle"> Project Title</label>
          </div>

          <div>
            <p>Project Category</p>
          <p>
            <label>
              <input id="projectcategory" name="projectcategory"  value="Embedded" type="checkbox" />
              <span>Embedded</span>
            </label>
          </p>
          <p>
            <label>
              <input id="projectcategory" name="projectcategory"  value="VLSI" type="checkbox" />
              <span>VLSI</span>
            </label>
          </p>
          <p>
            <label>
              <input id="projectcategory" name="projectcategory"  value="Computer Vision" type="checkbox" />
              <span>Computer Vision</span>
            </label>
          </p>
          <p>
            <label>
              <input id="projectcategory" name="projectcategory"  value="" type="checkbox" />
              <span>VLSI</span>
            </label>
          </p>
          <p>
            <label>
              <input id="projectcategory" name="projectcategory"  value="VLSI" type="checkbox" />
              <span>VLSI</span>
            </label>
          </p>
        </div>

          <div class="input-field">
            <textarea id="content" class="materialize-textarea" name="content" required></textarea>
            <label for="content">Project Description</label>
          </div>
          <!-- <div class="input-field">
            <input id="Url" type="url"  name = "url" required>
            <label for="url">URL Of Project File</label>
          </div> -->
          <button class="btn red darken-2 z-depth-0">Enter</button>
        </form>
      </div>
    </div>




     <!-- Modal Structure for otp-->
  <div id="modal1" class="modal bottom-sheet" style="background: rgba( 52, 27, 76, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );">
    <div class="modal-content">
      <h4>Enter the OTP that you recieved</h4>
      
    </div>
    <form>
      <div class="input-field">
        <input type="text" id="enterotp" required>
        <label for="enterotp" style="color: aliceblue;">Enter OTP here</label>
      </div>
    <div class="modal-footer" style="background: rgba( 52, 27, 76, 0.70 );
    
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;"
    >
   
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" style ="color:white">Agree</a>
    </div>
  </form>
  </div>


   <!-- Modal for request Structure -->
  <div>
   <div id="modal2" class="modal bottom-sheet "  style="background: rgba( 255, 255, 255, 0.30 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 7.5px );
   -webkit-backdrop-filter: blur( 7.5px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );">
    <div class="modal-content" style ="text-align: center;">
      <h4>Request is sent to administrator</h4>
     <h5>An OTP will sent to your email after admin acceptance.</h5>
    </div>
    <div class="modal-footer" style="background: rgba( 255, 255, 255, 0.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
 ">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"  style ="color:white">ok</a>
    </div>
  </div>
    

   




    <script>  document.addEventListener('DOMContentLoaded', function() {
     
    
      var modals = document.querySelectorAll('.modal');
      M.Modal.init(modals);
    });
    </script>

    
    
         
    
<script type="text/javascript" src="vanilla-tilt.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".job"), {
		max: 25,
		speed: 100
	});
	
	//It also supports NodeList

</script>
        
       
   

       <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body >
</html>